page-home {
    .login{
        height: 1em;
        margin-top: 15px;
    }
    ion-slides {
        height: 30%;
    }
    ion-navbar{
        padding-top: 15px;
    }
    .hide{
        display: none;
    }
    .show{
        display: flex!important;
    }
    .label-ios{
        margin: 0;
    }
    .item-inner{
        border: 0!important;
    }
    .swiper-pagination-bullet{
        opacity: 0.5;
        background: #ffffff;
    }
    .swiper-pagination-bullet-active{
        opacity: 1;
    }
    .order-btn{
        justify-content: center;
        button{
            font-weight: bold;
            font-size: 2rem;
            margin: 0;
            border-radius: 0;
        }
        ion-icon{
            color: #ffffff;
            margin-left: 10px;
        }
    }
    .home-list{
        background: #ffffff;
        button{
            display: inline-block;
            background: none;
            font-size: 16px;
            color: #999999;
            div{margin-top: 15px;}
        }
        ion-col{
            background: #ffffff;
            justify-content: center;
            text-align: center;
        }
        .iconfont{
            font-size: 3rem;
            color: #24ad20;
        }
    }
    .product-list {
        ion-row {
            ion-col {
                padding: 0px;
                h2 {
                    font-size: 16px;
                    color: #333333;
                    margin-bottom: 5px;
                }
                p{
                    font-size: 16px;
                    i{
                        color: #ff6659;
                        font-style: normal;
                    }
                }
            }
        }
        .list-price {
            width: 98%;
            height: 26px;
            line-height: 18px;
            position: relative;
            bottom: 0;
            margin: 0 2%;
        }
        .price-new {
            font-size: 18px;
            color: #f8285c;
        }
        .list-price i {
            font-style: normal;
            font-size: 12px;
        }
    }
}
