<ion-header>
    <ion-navbar style="opacity: 0.85" no-border-bottom color="primary">
        <ion-grid>
            <ion-row>
                <ion-col col-10 no-padding>
                    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
                </ion-col>
                <ion-col col-2 no-padding>
                    <button ion-button class="login" (click)="goToLogin()">登录</button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-navbar>
</ion-header>

<ion-content fullscreen>
    <ion-slides pager>
        <ion-slide *ngFor="let banner of banners">
            <img src="{{'http://localhost:8000'+banner.banner.path}}" class="slide-image"/>
        </ion-slide>
    </ion-slides>

    <ion-row class="order-btn" padding>
        <button ion-button block color="light" (click)="goProduct()">
            开始订购
            <ion-icon name="arrow-dropright"></ion-icon>
        </button>
    </ion-row>

    <ion-grid class="home-list">
        <ion-row padding-vertical>
            <ion-col col-4>
                <button>
                    <i class="iconfont icon-menuordericon"></i>
                    <div>我的订单</div>
                </button>
            </ion-col>
            <ion-col col-4>
                <button>
                    <i class="iconfont icon-points"></i>
                    <div>我的积分</div>
                </button>
            </ion-col>
            <ion-col col-4>
                <button>
                    <i class="iconfont icon-mall_fill"></i>
                    <div>积分商城</div>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>

    <div class="product-list">
        <ion-list no-padding>
            <ion-item no-padding *ngFor="let product of products" (click)="goProduct()">
                <ion-grid>
                    <ion-row>
                        <ion-col col-6><img src="{{'http://localhost:8000'+product.banner.path}}"></ion-col>
                        <ion-col col-6>
                            <h2 text-right>{{product.name}}</h2>
                            <p text-right class="price"><i>￥</i>{{product.price}}/斤</p>
                            <p text-right>
                                <button><i class="iconfont icon-delicon"></i></button>
                                <span class="number">1</span>
                                <button><i class="iconfont icon-add"></i></button>
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </div>

</ion-content>
