page-confirm-order {
    .address{
        font-size: 2rem;
    }
    .product-name{
        font-size: 12px;
        color: #333;
    }
    .price{
        font-size: 14px;
        font-style: normal;
        color: #ff6659!important;
    }
    ion-navbar {
        padding-top: 15px;
    }
    ion-list{
        margin-bottom: 0!important;
    }
    .num{
        font-size: 14px;
        font-style: normal!important;
    }
    .pay-way{
        font-size: 14px;
    }
    .sum-price, .sum-price i{
        font-size: 14px;
    }
    .item-ios.item-block .item-inner{
        border-bottom: 0;
    }
}
