page-notification {
    .notification{
        h2{
            font-size: 13px;
            color:#333;
            margin-bottom: 5px;
        }
        p{
            color: #999;
            font-size: 12px;
        }
        ion-icon{
            font-size: 25px;
        }
        .remove{
            background: #ff6659;
            color: #fff;
            font-weight: bold;
        }
    }

}
