<ion-header>

    <ion-navbar no-border-bottom color="primary">
        <ion-title>选购</ion-title>
        <button ion-button clear (click)="dismiss()">
            <span ion-text showWhen="ios" class="white">取消</span>
            <ion-icon name="md-close" showWhen="android"></ion-icon>
        </button>
    </ion-navbar>

</ion-header>

<ion-content fullscreen>
    <div *ngIf="noLogin">
        <p text-center class="nologin-tips">您还没有登录，请登录后再购买商品</p>
        <div text-center>
            <button ion-button small (click)="goToLogin()">立即登录</button>
        </div>
    </div>
    <div *ngIf="logined">
        <ion-item color="primary">
            <ion-searchbar (input)="getItems($event)" placeholder="输入要搜索的关键字" [(ngModel)]="keywords"></ion-searchbar>
        </ion-item>
        <!--<ion-slides pager>-->
            <!--<ion-slide *ngFor="let banner of banners">-->
                <!--<img src="{{banner.image}}" class="slide-image" height="100"/>-->
            <!--</ion-slide>-->
        <!--</ion-slides>-->
        <div class="product-list">
            <ion-list no-padding>
                <ion-item no-padding *ngFor="let product of products">
                    <ion-grid>
                        <ion-row>
                            <ion-col col-3><img src="{{product.image}}" width="80" height="80"></ion-col>
                            <ion-col col-9>
                                <h2 text-left class="product-name">{{product.name}}</h2>
                                <p text-right class="price"><i>￥{{product.price}}</i>/<b>斤</b></p>
                                <p text-right>
                                    <button (click)="removeProduct(product, $event)" class="change-order-btn"><i class="iconfont icon-delicon"></i></button>
                                    <span class="number" *ngFor="let o of orders">
                                        <b *ngIf="product._id == o.product._id">{{o.num}}</b>
                                    </span>
                                    <span class="number" *ngIf="orders.length < 1">0</span>
                                    <button class="add-btn" (click)="addProduct(product, $event)" class="change-order-btn mr0"><i class="iconfont icon-add1"></i></button>
                                </p>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ion-list>
        </div>
    </div>
</ion-content>

<ion-footer *ngIf="logined">
    <ion-item color="light" [style.opacity]="num > 0 ? 1 : 0.75" class="selected-bar">
        <ion-badge item-start>{{num}}</ion-badge>
        <div *ngIf="num == 0">还未选购商品</div>
        <div (tap)="presentModal()" *ngIf="num > 0">
            ￥<i class="price">{{sum}}</i>元
            <p class="tips" *ngIf="num > 0">点击查看订单查情</p>
        </div>
        <button ion-button item-end [disabled]="num == 0" (click)="selectPayWay()" class="go-pay">去结算</button>
    </ion-item>
</ion-footer>


