<ion-header>

    <ion-navbar style="opacity: 0.8" no-border-bottom color="primary">
        <ion-title>产品列表</ion-title>
    </ion-navbar>

</ion-header>

<ion-content fullscreen>
    <ion-item color="primary">
        <ion-searchbar (input)="getItems($event)" placeholder="输入要搜索的关键字" [(ngModel)]="keywords"></ion-searchbar>
    </ion-item>
    <ion-slides pager>
        <ion-slide *ngFor="let banner of banners">
            <img src="{{banner.image}}" class="slide-image"/>
        </ion-slide>
    </ion-slides>
    <div class="product-list">
        <ion-list no-padding>
            <ion-item no-padding *ngFor="let product of products">
                <ion-grid>
                    <ion-row>
                        <ion-col col-6><img src="{{product.image}}"></ion-col>
                        <ion-col col-6>
                            <h2 text-right>{{product.name}}</h2>
                            <p text-right class="price"><i>￥</i>{{product.price}}/斤</p>
                            <p text-right>
                                <button (click)="removeProduct(product)"><i class="iconfont icon-delicon"></i></button>
                                <span class="number">1</span>
                                <button class="add-btn" (click)="addProduct(product)"><i class="iconfont icon-add1"></i></button>
                            </p>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
<ion-footer>
    <ion-item color="light" style="opacity: 0.55">
        <ion-badge item-start>{{num}}</ion-badge>
        <div *ngIf="num == 0">还未选购商品</div>
        <div (click)="presentModal()" *ngIf="num > 0">￥{{sum}}元</div>
        <button ion-button item-end [disabled]="num == 0" (click)="selectPayWay()">去结算</button>
    </ion-item>
</ion-footer>

