<ion-header>

    <ion-navbar color="primary">
        <ion-title>我的订单</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <div text-center class="no-login display-box" (click)="goToLogin()" [class.show]="!isLogin">
        <div class="no-login-tips">登录后查看订单</div>
        <button ion-button>立即登录</button>
    </div>
    <div class="display-box" [class.show]="isLogin">
        <ion-card *ngFor="let order of orders">
            <ion-card-header>
                <ion-item class="header-item">
                    <div item-start>{{order.sn}}</div>
                    <div item-end class="date">{{order.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                </ion-item>

            </ion-card-header>

            <ion-card-content>
                <ion-list>
                    <ion-item class="list-item" *ngFor="let product of order.products">
                        <div class="name" icon-start>{{product.name}}</div>
                        <div class="num" item-end>x{{product.orderNum}}</div>
                        <div class="price price-w" item-end>￥{{product.price}}</div>
                    </ion-item>
                </ion-list>
            </ion-card-content>
            <ion-item class="order-footer">
                <div class="status">{{ order.status == 0 ? '等待发货' : '己发货'}}</div>
                <div class="sum" item-end>总价 <b class="price">￥{{order.sumPrice}}</b></div>
            </ion-item>
        </ion-card>
    </div>
</ion-content>
