page-orders {
    .no-login {
        margin-top: 45%;
    }
    .item{
        min-height: 2rem;
    }
    .label-ios{
        margin: 5px 8px 5px 0;
    }
    ion-card-header{
        padding:5px 8px!important;
    }
    .header-item{
        padding-left:5px;
    }
    .list-item{
        padding-left: 0;

        .item-inner{
            padding-right: 0!important;
        }
    }
    .date{
        color: #999999;
    }
    .no-login-tips {
        color: #999999;
        font-size: 16px;
    }
    .display-box {
        display: none;
    }
    .show {
        display: block !important;
    }
    .card-content-ios{
        padding-bottom: 0;
    }
    .price{
        color: #f44336;
    }
    .status{
        color: green;
    }
}
